@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div>
    This is a 5th edition (DND Next) spellbook generator.  This was a free utility created by /u/reiphil aimed to provide players the ability to have a printed sheet with their spells or "power" cards that list their spells. This project uses the .net4.5 framework with MVC and LINQ to generate/display content.  The website is hosted using Microsoft's Azure services.<br />
<br />
The spell cards generated to fit Magic the Gathering sized sleeves.  You can print the spellbook out in any format your printer can handle.  <br />
<br />
<strong>Spellbook Generator is an independent entity and is not affiliated with Wizards of the Coast, Inc.  Spells require the use of a Roleplaying Game Core Book published by Wizards of the Coast, Inc.</strong>
</div>

<h3>Contributors</h3>
<div>
    A special thanks to our contributors for inputting spells, editing, and suggesting features!
    <br />
    <br />
    <strong>Rockstars</strong><br />
    <ul>
        <li>CaptCrossfire</li>
        <li>Frobones</li>
        <li>RoobixCube</li>
        <li>vladmech</li>
        <li>Awkward___Turtle</li>
        <li>lordshadowisle</li>
        <li>transmogrify</li>
        <li>akidomowri</li>
        <li>thegonelamer</li>
        <li>Ychor</li>
        <li>moxieds</li>
        <li>Luca Tolomelli</li>
    </ul>
</div>

<h3>Other Resources</h3>
<div>
    <ul>
        <li><a href="http://reddit.com/r/dndnext">/r/dndnext</a></li>
        <li><a href="https://drive.google.com/folderview?id=0Bwe9mtdZ7AWXc1VwYU5tUTBodjQ&usp=sharing">"Ultimate D&amp;D Resource Collection"</a></li>
        <li><a href="http://hardcodex.ru/">/u/jeyvi's Spell Card generator</a></li>
        <li><a href="http://www.reddit.com/r/dndnext/wiki/resourcelist">/r/dndnext's Resource list (seriously I could link everything on that page here, but they already have...)</a></li>
    </ul>
</div>