
@{
    ViewBag.Title = "Changelog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Changelog</h2>
<div>
    Features:
    <ul>
        <li>Datatables for main page</li>
        <li>Mobile view for index</li>
        <li>Advanced search criteria</li>
        <li>Generating spellbooks</li>
        <li>Generating spellcards</li>
    </ul>
    <br />
    Known bugs/issues:
    <ul>
        <li>
            <del>Print cards not having background colors.</del> -- Fixed this, but you need to also enable background colors on your browser!
        </li>
        <li>
            Cards not printing to 9 a page (only printing 6)
        </li>
    </ul>
    Recently added:
    <ul>
        <li>Monk class and appropriate spells</li>
        <li>Barbarian class (appropriate spells to come)</li>
        <li>Removed filter by component, added filter by action</li>
        <li>Spell sorting on spellbook page</li>
        <li>Ability to change colors on spellcard page</li>
    </ul>
    Upcoming:
    <ul>
        <li>
            Adjusted spell keywords
        </li>
        <li>
            Correct/add some spells to warlock invocations and expanded spell lists due to pact.
        </li>
        <li>
            Add linkable filter views
        </li>
    </ul>
</div>
